.text-input{
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}
.select{
    @extend .text-input;  //@extend .text-input means all the styles propertties in text-input class selector should also be copied onto select class selector
    //@extend means to inherits the styles of another class selector onto another class selector
}
.textarea {
    @extend .text-input;
    height: 10rem;
}