.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

//desktop view
.list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    padding: $s-size;
    text-decoration: none;
    transition: background 0.3s ease;
    &:hover {  //also the samw as writting list-item:hover
        background: $off-white;
    }
    //mobile view
@media(min-width: $desktop-breakpoint){
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
    align-items: center;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}
.list-item__sub-title {
    color: $grey;
    font-size: $font-size-small;

}
.list-item__data {
    margin: $s-size 0 0 0; //desktop view

    @media (min-width: $desktop-breakpoint) { //mobiled view
        margin: 0;
        padding: $m-size;
    }
}
.list-item--message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;
    &hover {  //is also the same as writting .list-item--message:hover
        background: none;
    }
}

.list-body {
    margin-bottom: $m-size;  //when it on desktop size (if is the 1.6rem)

    @media (min-width: $desktop-breakpoint) {  //when it on mobile size (if is 3.2rem)
        margin-bottom: $l-size;
    }
}